ul {
  padding: 0;
  /* margin-top: 15px; */
}

.list-item {
  list-style-type: none;
  position: relative;
  height: 35px;
  padding: 0 8px 0 15px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  font-size: 25px;
  padding: 3px;
  border: 1px solid;
  border-radius: 3px;
  margin-right: 3px;
}
.trash-icon {
  color: red;
  border-color: red;
}
.exclam-icon {
  color: rgb(39, 223, 39);
  border-color: rgb(39, 223, 39);
}
