.filter-panel {
  overflow: hidden;
  flex: 1 1 100%;
  height: 35px;
}

button {
  width: 100%;
  color: rgb(39, 223, 39);
  border-color: rgb(39, 223, 39);
  outline: none;
}
button:active {
  outline: none;
}
button:hover {
  background-color: rgb(39, 223, 39);
  color: white;
  transition: all ease 0.3s;
}
button.active {
  background-color: turquoise;
  color: white;
  border: none;
}
button.active:hover {
  background-color: rgb(64, 165, 224);
}
